<nav aria-label="breadcrumb" id="breadcrumbTrail">
    <ol class="breadcrumb">
    <%
    for (var crumb of breadcrumbs) {
        %> <li class="breadcrumb-item <%
            if (crumb.active) { %> active<% }
        %>"> <a href="<%= crumb.path %>"><%= crumb.title %></a> </li><%
    }
    %>
    </ol>
</nav>
